{% extends 'base.html.twig' %}

{% block title %}Mon panier - La boutique Lomo{% endblock %}

{% block content %}
    <h1>Mon panier</h1>
    <p class="lead">Voici le contenu de votre panier!</p>

    {% if cart | length > 0 %}
        <table class="table mt-5">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-uppercase pt-3 pl-4">Produit</th>
                    <th scope="col" class="text-uppercase">Quantité</th>
                    <th scope="col" class="text-uppercase">Prix</th>
                    <th scope="col" class="text-uppercase">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for product in cart %}
                <tr>
                    <td>
                    <p class="lead">
                        <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px">
                         <span class="d-inline-flex">{{ product.product.name }}</span>
                    <p>
                    </td>
                    <td class="align-middle">
                        <p class="lead">
                        <a href="{{ path('decrease_to_cart' , { 'id' : product.product.id }) }}">
                            <img src="{{ asset('assets/img/minus.svg') }}" height="15px" alt="supprimer un produit"></a>
                         x {{ product.quantity }}
                        <a href="{{ path('add_to_cart' , { 'id' : product.product.id }) }}">
                            <img src="{{ asset('assets/img/add.svg') }}" height="15px" alt="ajouter un produit"></a>
                        </p>
                    </td>
                    <td class="align-middle">
                        <p class="lead">
                        {{ (product.product.price /100) | number_format(2, ',', '.') }}€
                        <p>
                    </td>
                    <td class="align-middle">
                        <p class="lead">
                        {{ ((product.product.price * product.quantity ) /100) | number_format(2, ',', '.') }}€
                        </p>
                    </td>
                    <td class="align-middle">
                    <p class="lead">
                        <a href="{{ path('delete_to_cart', { 'id' : product.product.id }) }}">
                        <img src="{{ asset('assets/img/trash.svg') }}" height="18px" alt="supprimer">
                        </a>
                        </p>
                    </td>
                </tr>
                {% set total = total + (product.product.price * product.quantity ) %}
            {% endfor %}    
            </tbody>
        </table>

        <div class="text-right mb-5">
            <p class="lead">Nombre de produit: {{ cart | length}}<br/>
            Total de mon panier: {{ (total /100) | number_format(2, ',', '.') }}€ TTC<br/>
            <a href="{{ path('order') }}" class="btn btn-success mt-3 btn-lg">Valider mon panier</a></p>
        </div>
    {% else %}
        <hr>
        <p class="lead"><b>Votre panier est vide.</b></p>
    {% endif %}
{% endblock %}
