{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - La boutique Lomo{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
             <img src="/uploads/{{ product.illustration }}" class="img-fluid" alt="{{ product.name }}">
        </div>

        <div class="col-md-7 my-auto">
            <h2 class="text-uppercase">{{ product.name }} </h2>
            <p class="lead">{{ product.subtitle }}</p>
            <p class="lead">{{ (product.price /100) | number_format(2, ',', '.') }} €</p>
            <hr>
            <p class="lead">{{ product.description }}</p>
            <a href="{{ path('add_to_cart', {'id' : product.id})}}" class="btn btn-primary btn-lg mb-5">Ajouter au panier</a>
        </div>
    </div>
    <hr>
    <h1>Les produits du moment</h1>
    <p class="lead">Découvrez les articles les plus vendus.</p>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
        </div>
    <hr class="my-5">
{% endblock %}
