{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - La boutique Lomo{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-5">
             <img src="/uploads/{{ product.illustration }}" class="img-fluid" alt="{{ product.name }}">
        </div>

        <div class="col-md-7 my-auto">
            <h2>{{ product.name }} </h2>
            <p>{{ product.subtitle }}</p>
            <p>{{ (product.price /100) | number_format(2, ',', '.') }} €</p>
            <hr>
            <p>{{ product.description }}</p>
            <a href="{{ path('add_to_cart', {'id' : product.id})}}" class="btn btn-primary mb-5">Ajouter au panier</a>
        </div>

    </div>
{% endblock %}
